*.pyc
devel/*
build/*
.test_nico.sh.swp
2vehicle.sh
src/msg/Num.msg
src/msg/Trajectory.msg
src/msg/VehicleSpeed.msg
src/scripts/add_two_ints_client.py
src/scripts/add_two_ints_server.py
src/scripts/listener.py
src/scripts/porco.py
src/scripts/sml_modules/porco.py
src/scripts/talker.py
src/srv/AddTwoInts.srv
test_nico.sh
sml_world/scripts/resources/scenarios/KistaDemo31.xml
sml_world/scripts/resources/scenarios/demo2.jos
sml_world/scripts/resources/scenarios/first.jos
sml_world/scripts/resources/scenarios/second.jos
*~

